{% extends 'ClientBase.html.twig' %}

{% block body %}
<div id="navbaritems">
        <ul>
          <li>
            <a href="product.html" >Store</a>
            <ul>
                <li><a href="{{ path('Client_categorie_index', {'id_client': id_client}) }}">Categories</a></li>
              <li><a href="{{ path('shop_Products_index', {'id_client': id_client}) }}">Shop</a></li>
              <li><a href="{{ path('Client_Products_index', {'id_client': id_client}) }}">My Products</a></li>

            </ul>
          </li>
          <li >
            <a href="">Gestion 2</a>
            <ul>
              <li><a href="">Patio Furniture</a></li>
              <li><a href="">Garden </a></li>
              <li><a href=""> Outdoor Decor </a></li>
              <li><a href=""> Grills and Outdoor Cooking </a></li>
              <li><a href=""> Outdoor Shades and Structures </a></li>
                <li><a href="">Sport and Outdoor </a></li>
                <li><a href=""> Bedroom Furniture</a></li>
                <li><a href=""> Office Furniture</a></li>
         </ul>
          </li>
          <li >
            <a href="">Gestion 3</a>
            <ul>
              <li><a href="">Area Rugs By Size </a></li>
              <li><a href="">Trending Rugs</a></li>
              <li><a href=""> Area Rugs by Color </a></li>
              <li><a href=""> Area Rugs by Style </a></li>
              <li><a href=""> Rugs By Types </a></li>
            </ul>
          </li>
          <li >
            <a href="">Gestion 4</a>
            <ul>
            <li><a href="">Mirrros </a></li>
            <li><a href="">Faux Plants and Flowers </a></li>
            <li><a href=""> Decorative Accessories  </a></li>
            <li><a href=""> Window Treatments </a></li>
            <li><a href=""> Arts </a></li>
              <li><a href="">Throw Pillow </a></li>
            </ul>
          </li>
          <li >
            <a href="">Gestion 5</a>
            <ul>
              <li><a href="">Bedding Sets</a></li>
              <li><a href="">Bedding Essentials </a></li>
              <li><a href="">Bed Sheets and Pollowcases</a></li>
              <li><a href=""> Window Treatments </a></li>
              <li><a href=""> Mattress Pads and Toppers </a></li>
                <li><a href="">Mattress</a></li>
                <li><a href="">Blankets</a></li>
              </ul>
          </li>
        </ul>
    </div>
    </div>
   
      <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    <div>
        <h1 id="TrendingSearches">Nos Categories</h1>
        <div class="ts">
            {% for categorie in categories %}
                <p>{{ categorie.nomC }}</p>
            <a href="{{ path('app_produit_index', {'id_client': id_client, 'idC': categorie.idC}) }}" class="btn btn-primary">Show Products</a>

<a href="{{ path('app_produit_new', {'id_client': id_client, 'idC': categorie.idC}) }}" class="btn btn-success">Add Products</a>

            {% else %}
                <p>Aucun enregistrement trouvé</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
