{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ commande.etat }}</td>
            </tr>
            <tr>
                <th>CmdClient</th>
                <td>{{ commande.cmdClient }}</td>
            </tr>
            <tr>
                <th>CmdDate</th>
                <td>{{ commande.cmdDate ? commande.cmdDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

 <button type="submit" class="btn btn-info"><a href="{{ path('app_commande_index') }}" style="color: aliceblue;text-decoration: none;">back to list</a></button>


   
{% endblock %}
