{% extends 'base.html.twig' %}

{% block title %}Details Commande{% endblock %}

{% block body %}
    <h1>Details Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ detailscommande.id }}</td>
            </tr>
            <tr>
                <th>NumArticle</th>
                <td>{{ detailscommande.numArticle }}</td>
            </tr>
            <tr>
                <th>NomArticle</th>
                <td>{{ detailscommande.nomArticle }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ detailscommande.quantite }}</td>
            </tr>
            <tr>
                <th>PrixUnitaire</th>
                <td>{{ detailscommande.prixUnitaire }}</td>
            </tr>
            <tr>
                <th>SousTotal</th>
                <td>{{ detailscommande.sousTotal }}</td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-info"><a href="{{ path('app_detailscommande_index') }}" style="color: white; text-decoration: none;">back to list</a></button>



{% endblock %}
