{% extends 'base.html.twig' %}

{% block body %}

{{ include('enchere/header.html.twig') }}

    <h1>Auction Interface</h1>
    

        <form action="" method="post">
            <label for="bidAmount">Bid Amount:</label>
            {{ enchere.montantFinal }}
            
            <br>
            <p> {{ enchere.nomEnchere }} </p>
    
            <img src="{{ asset('images_auctions/' ~ enchere.image) }}" alt="{{ enchere.nomEnchere }}">
       
            <br>
            <label for="initialBid">Initial Bid:</label>
            {{ enchere.montantInitial }}
            <br>
            <label for="finalBid">Final Bid:</label>
           
            <input type="text" id="finalBid" name="finalBid" required>
            <br>
            <button type="submit">Place Bid</button>
        </form>
        
{{ include('enchere/footer.html.twig') }}
{% endblock %}
