<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/navbarstyle.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/footer.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>affariyeti.com | The Best Deals </title>
  </head>

  <body>
    <div id="nav-placeholder">
      <div id="ship">
    </div>
    <div id="navbarstart">
      <img id="logoclick" src="{{ asset('images/logo.png') }}" alt="logo" >
        <div>
            <input placeholder="Search... ">
            <button id="navbarSearchBtn" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" id="nav-search-btn-logo" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg></button>
        </div>
        <div>
            <svg class="iconsvg" width="56"  height="22" viewBox="0 0 24 24" stroke="#2F3337"
                fill="#2F3337">
                <title>User</title>
                <path d="M1 23c0-5.523 4.477-10 10-10h2c5.523 0 10 4.477 10 10M12 13a6 6 0 100-12 6 6 0 000 12z"
                    stroke="inherit" fill="none" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </svg>
            <br> <a href="{{ path('login') }}">Account</a>
        </div>
        <div>
            <svg class="iconsvg" width="22" height="22" viewBox="0 0 24 24" stroke="#2F3337"
                fill="#2F3337">
                <title>Heart</title>
                <path d="M21.241 3.757A6 6 0 0012 4.684a6 6 0 10-9.242 7.558l9.241 9.243 9.243-9.243a6 6 0 000-8.485z"
                    fill="none" stroke="inherit" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </svg>
          <br>
            <a href="{{ path('home') }}">List</a>
        </div>
        <div>
          <div id="cartCount"></div>
            <svg  class="iconsvg" width="30" height="21" viewBox="0 0 24 24" stroke="#2F3337"
                fill="#2F3337">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M7.174 14.4L5.208.833C5.14.356 4.697 0 4.174 0h-3.13C.466 0 0 .43 0 .96s.467.96 1.043.96H3.26l1.966 13.567c.07.477.512.833 1.035.833h14.608c.498 0 .926-.323 1.024-.772l2.087-9.6c.113-.52-.254-1.025-.819-1.13-.565-.103-1.115.234-1.228.754L20.014 14.4H7.174zm.13 9.6a2.087 2.087 0 100-4.174 2.087 2.087 0 000 4.174zm14.61-2.087a2.087 2.087 0 11-4.175 0 2.087 2.087 0 014.174 0z"
                    stroke="none" fill="inherit"></path>
            </svg>
            
            <br>
            <a href="{{ path('cart') }}"> Cart </a>
        </div>
    </div>
    
    <div id="navbaritems">
        <ul>
          <li><a href="{{ path('home') }}">Home</a></li>

          <li>
            <a href="{{ path('product') }}" >Category</a>
            <ul>
              <li><a href="">Living Room Furniture</a></li>
              <li><a href="">Patio Furniture</a></li>
              <li><a href=""> Bedroom Furniture</a></li>
              <li><a href=""> Office Furniture</a></li>
              <li><a href="">Living Room Furniture</a></li>
                <li><a href="">Patio Furniture</a></li>
                <li><a href=""> Bedroom Furniture</a></li>
                <li><a href=""> Office Furniture</a></li>
            </ul>
          </li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li>
            <a href="{{path('app_enchere_index')}}">Auction</a>
            <ul>
              <li><a href="{{path('app_enchere_new')}}">Add new Action</a></li>
              <li><a href="{{path('app_enchere_index')}}">My Actions List</a></li>
              <li><a href="{{path('app_enchere_index')}}">Action List vlaible </a></li>
             
            </ul>

          </li>
           <li>
            <a href="">More</a>
            <ul> 
              <li><a href="">chatboot</a></li>
              
            </ul>
          </li>
          <li >
            <a href="" >Ideas</a>
                      </li>
          <li >
            <a href="" style="color: red;">Sales & Deals</a>
          </li>
        </ul>
    </div>
    </div>
    <!-- HomePageStart -->
  <div id="homePage">
    <div id="topheadImg">
    </div>
     <br>
<br>
    </div>
    <div>
  </div>
    <div>
     
    <br>
    <!-- ! big image -->
      </div>
      <br></br>

    </div>
  </div>
<br></br>